@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ea0028;

  /* Toast variables */
  --toastify-text-color-light: #171717;
}

@theme {
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
