@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ea0028;
}

@theme {
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
